 /*personalized CSS created by Omar Shah for site, omarshah.azurewebsites.net which is a site about me and my works.*/

img {
	width: 100%;
}

/*setting font color to something readable*/
body, header, main, html {
	color: #E8E8E8;
}


/*setting typography to my brand*/
h1, h2 {
	text-shadow: 2px 2px 20px #4d4a47;
	font-family: Garamond;
} 

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/*background: #191919;*/
	/*opacity: .7;*/
}

/*change default bootstrap navbar color to my brand theme*/
.navbar {
	text-shadow: 2px 2px 20px #4d4a47;
	font-family: Garamond;
	font-size: 130%;
}

.navbar {
	background-image: none;
}
.navbar {
    background-color: #181870;
    border-color: #454da1;
}	

 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #4d4a47;
      background: #454da1;
 }


/*added background images to suit my theme*/
header {
	background-image: url("images/moon-shine.jpg");
	height: 40vh;
	background-attachment: fixed;
    background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgba(69, 77, 161, .25);
}

body {
	background-image: url("images/elegant-design.jpg");
	background-size: cover;
}

/*added alpha transparency to suit my brand color*/
main {
	border-left: 1vh double #C9C8C2;
	border-right: 1vh double #C9C8C2;
	background-color: rgba(24, 24, 112, .25);
}

button {
	margin: 5%;
	font-family: 'Brush Script MT', cursive;
	font-size: 160%;
}
.btn {
	font-size: 160%;
	margin-bottom: 5%;
}


/*removing the outline from collapse icon on resume page*/
.btn-info {
	background: none;
	border:none;
    box-shadow:none;
}

.btn-info:hover, .btn-info:link, .btn-info:visited {
	background: none;
	border:none;
    box-shadow:none;	
}


.bio {
	margin-top: 15%;
	font-size: 140%;	
}

footer {
	background: #4d4a47;
	text-align: center;
	font-variant: small-caps;
}


figcaption {
	background: #191919;
	opacity: .7;
	margin: 2% 0;
}

/*centering bootstrap menu button on smaller screen*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
	
}



.icon {
	margin-bottom: 2%;
}

/*aliging form page header*/
#connect, #connectBlurb {
	text-align: center;
}