 /*personalized CSS created by Omar Shah for site, omarshah.azurewebsites.net which is a site about me and my works.*/

img {
	width: 100%;
}

body, header, main, html {
	color: #E8E8E8;
}

.navbar {
	text-shadow: 2px 2px 20px darkgray;
	font-family: Garamond;
	font-size: 130%;
	
}
h1, h2 {
	text-shadow: 2px 2px 20px darkgray;
	font-family: Garamond;
	
}

header {
	background-image: url("images/moon-shine.jpg");
	height: 40vh;
	background-attachment: fixed;
    background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;

}

body, main {
	background-image: url("images/elegant-design.jpg");
	background-size: cover;
}

main {

	border-left: 1vh double #C9C8C2;


}

button {
	margin: 5%;
	font-family: 'Brush Script MT', cursive;
	font-size: 160%;
}

.btn {
	font-size: 160%;
	margin-bottom: 5%;
}

.bio {
	margin-top: 15%;
	font-size: 140%;	
}

footer {
	background: #191919;
	text-align: center;
	font-variant: small-caps;
}

p {
	background: #191919;
	opacity: .7;
}

figcaption {
	background: #191919;
	opacity: .7;
	margin: 2% 0;
}

/*centering bootstrap menu button*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}



